name: .NET Core

on:
  push:
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 6.0.x
        
    - name: Install dependencies
      run: dotnet restore
      
    - name: Build
      run: dotnet build --configuration Release --no-restore
      
    - name: Test
      run: dotnet test --no-restore --verbosity normal

  endor-labs-scan:
    runs-on: ubuntu-latest
    permissions:
      security-events: write # Used to upload Sarif artifact to GitHub
      contents: read # Used to check out a private repository
      actions: read # Required for private repositories to upload Sarif files. GitHub Advanced Security licenses are required.
      id-token: write # Used for keyless authentication with Endor Labs
      issues: write # Required to automatically comment on PRs for new policy violations
      pull-requests: write # Required to automatically comment on PRs for new policy violations
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: 'Endor Labs Scan Push to main'
        uses: endorlabs/github-action@v1.1.2
        with:
          namespace: 'rob-test' # Replace with your Endor Labs tenant namespace
          scan_dependencies: true
          scan_secrets: true
          pr: false
          scan_summary_output_type: 'table'
          sarif_file: 'findings.sarif'
          enable_github_action_token: true
          
      - name: Upload findings to github
        uses: github/codeql-action/upload-sarif@9885f86fab4879632b7e44514f19148225dfbdcd
        with:
          sarif_file: 'findings.sarif'
